<div class="main-content">
    {{>header}}
    <p>
                با تشكر از شما كاربر گرانقدر:

    </p>
    <p>
        لطفا در محل جستجو نام شهر را بصورت لاتين وارد نماييد و دكمه جستجو را فشار دهيد. بعد كمي تامل گزارش هوا براي شما نمايش داده خواهد شد.
    </p>
</div>




{{>footer}}