<div class="main-content">
    {{>header}}

    <p>لطفا آدرس مورد نظر را بنويسيد:</p>
    <form>
        <button name="send">جستجو</button>
        <input name="locationTxt" placeholder="نام شهر">
        <p id="messageOne"></p>
        <p id="messageTwo"></p>
    </form>


</div>



{{>footer}}
<script src="/js/app.js"> </script>